name: BIST Radar Otomasyon
on:
  schedule:
    - cron: '0 7-18 * * 1-5' # Hafta içi her saat başı
  workflow_dispatch: # Manuel çalıştırmak istersen buton çıkar

jobs:
  run-radar:
    runs-on: ubuntu-latest
    steps:
      - name: Kodu Cek
        uses: actions/checkout@v2
      - name: Python Kur
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Kutuphaneleri Yukle
        run: pip install yfinance pandas numpy requests
      - name: Radari Calistir
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python radar.py
